/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
}

/* ?BODY SETTINGS */

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(
      to bottom,
      #009688 0%,
      #009688 15%,
      #DCDBD2 15%,
      #DCDBD2 100%
    );
}

/* ?COMMON */

:root {
    --header-height: 50px;
    --header-color: #EAEAEA;
}

.flex {
    display: flex;
}

.s-between {
    justify-content: space-between;
}

.container {
    width: 80%;
    height: 90vh;
    margin: 5vh auto;
}

/* !CONTACTS COL */

nav {
    width: 25%;
    border-right: 0.2px solid rgba(237, 231, 225, 0.8);

    /* debug */
    background-color: blue;
}

/* *HEADER */

nav header {
    height: var(--header-height);
    background-color: var(--header-color);
    padding: 10px;
}

.img-round {
    aspect-ratio: 1;

    /* debug */
    border: 1px solid black;
}

.header-icons {
    
    /* debug */
    width: 30%;
    border: 1px solid black;
}

/* *NOTIFICATION SECTION */

.notification {
    background-color: #8EDAFC;
    height: 60px;
    padding: 10px;
}

.bell-icon {
    /* debug */
    background-color: white;
    aspect-ratio: 1;
}

.notification-text {
    flex-grow: 1;

    /* debug */
    background-color: black;
}

/* !CHAT COL */

main{
    width: 75%;

    /* debug */
    background-color: red;
}