/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
}

/* ?BODY SETTINGS */

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(
      to bottom,
      #009688 0%,
      #009688 15%,
      #DCDBD2 15%,
      #DCDBD2 100%
    );
    font-size: .6rem;
}

/* ?COMMON */

:root {
    --fifty-height: 50px;
    --sixty-height: 60px;
    --header-color: #EAEAEA;
    --ten-padding: 10px
}

.flex {
    display: flex;
}

.s-between {
    justify-content: space-between;
}

.container {
    width: 80%;
    height: 90vh;
    margin: 5vh auto;
    background-color: white;
}

.t-align-right {
    text-align: right;
}

.opacity05 {
    opacity: 0.5;
}

/* !CONTACTS COL */

nav {
    width: 25%;
    border-right: 1px solid rgba(237, 231, 225, 0.8);

    /* debug */
    background-color: blue;
}

/* *HEADER */

nav header {
    height: var(--fifty-height);
    background-color: var(--header-color);
    padding: var(--ten-padding);
}

.img-round {
    aspect-ratio: 1;

    /* debug */
    border: 1px solid black;
}

.nav-header-icons {
    
    /* debug */
    width: 30%;
    border: 1px solid black;
}

/* *NOTIFICATION SECTION */

.notification {
    background-color: #8EDAFC;
    height: var(--sixty-height);
    padding: var(--ten-padding)
}

.bell-icon {
    /* debug */
    background-color: white;
    aspect-ratio: 1;
}

.notification-text {
    flex-grow: 1;

    /* debug */
    background-color: black;
}

/* *RESEARCH SECTION */

section.research {
    height: var(--fifty-height);
    padding: var(--ten-padding);
}

.research-icon {
    
    /* debug */
    aspect-ratio: 1;
    background-color: coral;
}

.search-input {

    /* debug */
    flex-grow: 1;
    background-color: lightgreen;
}

/* *RECENT CHATS */

.chats-history {
    height: calc(100% - (var(--fifty-height) * 2 + var(--sixty-height)));
    overflow-y: scroll;
}

.card {
    border-top: 1px solid rgba(237, 231, 225, 0.8);
    height: var(--fifty-height);
    padding: var(--ten-padding);
}

.card-img, .card-time {
    aspect-ratio: 1;

    /* debug */
    background-color: coral;
}

.card-name {
    flex-grow: 1;

    /* debug */
    background-color: greenyellow;
}

/* !CHAT COL */

main{
    width: 75%;

    /* debug */
    background-color: red;
}

/* *CONTACT-DETAILS */

main header {
    height: var(--fifty-height);
    background-color: var(--header-color);
    padding: var(--ten-padding);
}

.main-chat-name {
    flex-grow: 1;

    /* debug */
    border: 1px solid black;
}

.main-header-icons {

    /* debug */
    width: 30%;
    border: 1px solid black;
}

/* *LAST MESSAGES */

.messages {
    flex-direction: column;
    background-image: url(../img/mine.jpg);
    background-size: 50%;
    height: calc(100% - (var(--fifty-height) * 2));
    padding: 30px 40px;
    overflow-y: scroll;
}

.sent {
    width: 70%;
    margin: 10px;
    padding: var(--ten-padding);
    align-self: flex-end;
    background-color: #D5F9BA;
    border-radius: 10px;
}

.messages p {
    padding-right: .6rem;
}

.received {
    width: 70%;
    margin: 10px;
    padding: var(--ten-padding);
    background-color: #FFFFFF;
    border-radius: 10px;
}

.message-time {
    text-align: right;
    font-size: .4rem;
}

/* *INPUT SECTION */

.input-message {
    height: var(--fifty-height);
    background-color: #F3EEEA;
    align-items: center;
}

.emoji, .vocal-note {
    width: 10%;

    /* debug */
    height: 1rem;
    border: 1px solid black;
}

.input-message input {
    flex-grow: 1;
    font-size: .6rem;
    padding: 5px 2px;
    border-radius: 5px;
    border: none;
}